<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zombie2walk0.png</key>
		<dict>
			<key>height</key>
			<integer>243</integer>
			<key>offsetX</key>
			<real>8.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalHeight</key>
			<integer>400</integer>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>width</key>
			<integer>165</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>zombie2walk1.png</key>
		<dict>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalHeight</key>
			<integer>400</integer>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>width</key>
			<integer>142</integer>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>zombie2walk2.png</key>
		<dict>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>19</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalHeight</key>
			<integer>400</integer>
			<key>originalWidth</key>
			<integer>550</integer>
			<key>width</key>
			<integer>114</integer>
			<key>x</key>
			<integer>307</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>256</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
